:root {
    --black: #000000;
    --green: #00dd55;
    --green-dark: #00b777;
}

* {
    padding: 0;
    margin: 0;
    font-family: monospace, sans-serif;
}

button {
    cursor: pointer;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem;
    border-bottom: 1px solid var(--green-dark);
}

.logo {
    width: 80px;
}

.logo img {
    width: 100%
}

.menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 1rem;
}

.menu li {
    color: var(--green-dark);
}

.menu li:hover {
    color: var(--green);

}

.menu li.active {
    border: var(--green-dark) 2px solid;
    border-radius: 4px;
}

.menu li.active:hover {
    border-color: var(--green);
    border-radius: 4px;
}

.menu a {
    display: block;
    color: inherit;
    padding: .5rem 1rem;
    text-decoration: none;
}

.container-pokes {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 1rem;
}

.card {
    display: flex;
    padding: 1rem;
    border: 1px solid green;
    width: 200px;
    justify-content: space-between;
    border-radius: 4px;
    transition: transform 200ms linear;
    cursor: pointer;
    text-decoration: none;
    color : var(--black);
}

.card img {
    width: 80px;
}

.card:hover {
    transform: translateY(-5px)
}

.types p {
    text-transform: capitalize;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }

}
.loading-container {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading {
    width: 30px;
    height: 30px;
    border-left: 2px solid blue;
    border-right: 2px solid red;
    border-radius: 50%;
    animation: spin 1s infinite;
}

.hidden {
    display: none;
}